module.exports = {
  formatPrice: function (price) {
    if (price !== undefined) {
      return price / 100
    } else {
      return ''
    }    
  },

  formatPrice2: function (minPrice, maxPrice) {
    var _minPrice = parseInt(minPrice)
    var _maxPrice = parseInt(maxPrice)
    if (_minPrice < _maxPrice) {
      return _minPrice / 100 + '-' + _maxPrice / 100
    } else {
      return _minPrice / 100
    }
  },

  parseInt: function (price) {
    return parseInt(price)
  },
  formatNum: function (num){
    num = num ? num : 0;
    return num > 99 ? '99+' : num+'';
  },
  formatTime: function(time){
    console.log()
    // return new Date();
    // function addZero(val){
    //   return val<10 ? '0'+val:val;
    // }
    // let day = new Date(parseInt(time));
    // return day.getFullYear() + "-" + addZero(day.getMonth() + 1) + "-" + addZero(day.getDate())+" "+
    //   + addZero(day.getHours()) + ":" + addZero(day.getMinutes()) + ":" + addZero(day.getSeconds());
  },
  
}